video::-webkit-media-controls-fullscreen-button {
    display: none;
}

#menu {
    width: fit-content;
    margin: 10px auto;
    padding: 15px;
    border: 2px dashed #39C5BB80;
    border-radius: 10px;
    
}

b { color:#39c5bccc; }

input,input:focus {
    color: #4f4f4f;
    padding: 8px 10px;
    border-radius: 8px;
    border:none;
    outline: none;
    background-color: #efefef;
}

#video-url { width: 400px; }
#video-offset { width: 100px; }

button {
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
    background-color: #39C5BB80;
}

#videoContainer {
    margin: 20px auto;
    position: relative;
    width: 1000px;
    aspect-ratio: 16/9;
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

#danmuCanvas {
    width: 100%;
    height: 100%;
    z-index: 2147483647;
    position: absolute;
    pointer-events: none;
}

.resize-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    /* background-color: #000; */
}

.bottom-right {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}

.right {
    top: 15%;
    right: -5px;
    height: 70%;
    cursor: ew-resize;
}